[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
rope = "*"

[packages]
discord-py = {extras = ["voice"],git = "https://github.com/Rapptz/discord.py",ref = "rewrite"}
lxml = "*"
bs4 = "*"
tabulate = "*"
matplotlib = "*"

[requires]
python_version = "3.7"
